<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Mellowmint</h2>
                <hr class="light">
                <p class="text-faded">Mellowmint creates simple, elegant apps that help you relax, organize, and find joy in everyday moments. Our featured apps are designed to make your life a little easier and a lot more delightful.</p>
            </div>
        </div>
    </div>
</section>
