<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Mellowmint</h2>
                <hr class="primary">
                <p>Have a question or want to get in touch? Email us or connect on social media!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="mailto:mellowmint.app@gmail.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>mellowmint.app@gmail.com</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://twitter.com/mellowmintapp">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>@mellowmintapp</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://github.com/mellowmintapp">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>mellowmintapp</p>
                </a>
            </div>
        </div>
    </div>
</section>
